WarmUpKitMobile/build
WarmUpKitMobile/.DS_Store
WarmUpKitMobile/DS_Store

## Other
*.moved-aside
*.xcuserstate
*.xccheckout
*.xcscmblueprint
UserInterfaceState.xcuserstate~6d306ce (add machine learn stuff)
WarmUpKitMobile/Pods
